<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand text-primary" routerLink="">F4Book</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <!-- Add "active" class when you're on that page" -->
        <a class="nav-link" [routerLink]="['']" routerLinkActive='active'>
          <i class="ion-home"></i>&nbsp;Home</a>
      </li>
      <ng-container *ngIf="isLoged">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/', 'article', 'newArticle']" routerLinkActive='active'>
            <i class="ion-compose"></i>&nbsp;New Post
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/', 'user', 'setting']" routerLinkActive='active'>
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/', 'user', userName]" routerLinkActive='active'>
            <i class="ion-person"></i>&nbsp;{{ userName }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link log-out" (click)="handleLogout()" href="/">
            <i class="ion-log-out"></i>&nbsp;Logout</a>
        </li>
      </ng-container>
      <ng-container *ngIf="!isLoged">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign-up">Sign up</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
