<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <form [formGroup]="contact">
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Post title"
                formControlName="title"
                name="title"
              />
            </fieldset>
            <div
              class="col alert alert-danger"
              role="alert"
              *ngIf="
                contact.controls.title?.errors?.required &&
                contact.controls.title?.touched
              "
            >
              Title is required!
            </div>

            <fieldset class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="What's this post about?"
                formControlName="description"
                name="description"
              />
            </fieldset>
            <div
              class="col alert alert-danger"
              role="alert"
              *ngIf="
                contact.controls.description?.errors?.required &&
                contact.controls.description?.touched
              "
            >
              About is required!
            </div>

            <fieldset class="form-group">
              <textarea
                class="form-control"
                rows="8"
                placeholder="Write your post (in markdown)"
                formControlName="body"
                name="body"
              ></textarea>
            </fieldset>
            <div
              class="col alert alert-danger"
              role="alert"
              *ngIf="
                contact.controls.body?.errors?.required &&
                contact.controls.body?.touched
              "
            >
              Write is required!
            </div>

            <fieldset class="form-group">
              <input
                type="text"
                class="form-control mb-2"
                placeholder="Enter tags"
                formControlName="tagList"
                name="tagList"
                #box
                (keyup.enter)="listsTag(box)"
              />
              Tags:
              <div
                class="btn btn-outline-primary btn-sm mr-2 mt-2"
                *ngFor="let t of tagList; let i = index"
                (click)="deleteTaglist(i)"
              >
                {{ t }}
              </div>
              <div class="text-danger" *ngIf='tagList.length>0'>
                *Click on tag to remove tag
              </div>
            </fieldset>

            <button
              type="button"
              class="btn btn-lg pull-xs-right btn-primary"
              (click)="addNewArticle()"
            >
              Publish Article
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
