<div class="feed-toggle">
  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let tab of listTab" (click)="changeTab(tab)">
      <a
        class="nav-link"
        [ngClass]="{ 'text-primary active': tab == currentTab }"
        >{{ tab }}</a
      >
    </li>
  </ul>
</div>

<app-preloading *ngIf="!listArticle"></app-preloading>
<app-empty-state
  *ngIf="listArticle?.articlesCount == 0"
  [currentTab]="currentTab"
></app-empty-state>
<ng-container *ngIf="listArticle?.articlesCount != 0">
  <div class="box">
    <div class="article-preview" *ngFor="let art of listArticle?.articles">
      <div class="article-meta">
        <a href="profile.html"><img [src]="art.author.image" /></a>
        <div class="info">
          <a
            [routerLink]="['/', 'user', art.author.username]"
            routerLinkActive="active"
            class="author"
            >{{ art.author.username }}</a
          >
          <span class="date">{{ art.updatedAt | date }}</span>
        </div>
        <!-- đã favorite -->
        <button
          class="btn btn-outline-primary btn-sm pull-xs-right"
          *ngIf="art.favorited"
          (click)="deleteFavorite(art.slug)"
        >
          <i class="ion-heart"></i> {{ art.favoritesCount }}
        </button>

        <!-- chưa favorite -->
        <button
          class="btn btn-outline-danger btn-sm pull-xs-right"
          *ngIf="!art.favorited"
          (click)="addFavorite(art.slug)"
        >
          <i class="ion-heart-broken"></i> {{ art.favoritesCount }}
        </button>
      </div>
      <a
        [routerLink]="['/', 'article', 'detail', art.slug]"
        routerLinkActive="active"
        class="preview-link"
      >
        <h1>{{ art.title }}</h1>
        <p>{{ art.description }}</p>

        <span>Read more...</span>

        <ul class="tag-list">
          <li
            class="tag-default tag-pill tag-outline"
            *ngFor="let tag of art.tagList"
          >
            {{ tag }}
          </li>
        </ul>
      </a>
    </div>
  </div>
</ng-container>
